html
  body
  
    .container
      .row
        
        form.activity-form
          textarea.form-control.activity-form-input(rows='5', placeholder='Create a new journal entry..')
          #htmlsource.activity-form-input-custom(contenteditable="")
          
        input.btn.btn-xs.btn-success.activity-form-action(type='submit', value='Create Journal')
      
      .row

      
        .activities
          .timeline

          .activity.trail
            .activity-type
              i.fa.fa-edit 

            .activity-body
              .activity-meta          
                p.activity-meta-author Vlad Radulescu made 5 changes
                  span.activity-meta-date less than 3 minutes ago

              .activity-content
                p.changeset
                  span.changeset-attribute
                    | PO Value
                  span.changeset-value-old
                    | 4200.0
                  i.fa.fa-angle-double-right

                  span.changeset-value-new
                    | 3123.0

          .activity.journal
            .activity-type
              i.fa.fa-comment

            .activity-body
              .activity-meta   
                p.activity-meta-author Vlad Radulescu added a comment
                  span.activity-meta-date 5 days ago

              .activity-content
                p 
                  | Thanks for confirming.
                  br
                  br
                  | Can you provide a cost of French polishing these desks with returns. I would to then retain them at your warehouse until they are required on a site where the main contractor is unable to French polish.
                  br
                  br
                  | Kind regards,
                  br
                  | Kate McCabe 

          .activity.trail
            .activity-type
              i.fa.fa-edit

            .activity-body
              .activity-meta          
                p.activity-meta-author Vlad Radulescu made 5 changes
                  span.activity-meta-date less than 3 minutes ago

              .activity-content
                p.changeset
                  span.changeset-attribute
                    | PO Value
                  span.changeset-value-old
                    | 4200.0
                  i.fa.fa-angle-double-right

                  span.changeset-value-new
                    | 3123.0

                p.changeset
                  span.changeset-attribute
                    | Invoice Number
                  span.changeset-value-old
                    | 3720.0
                  i.fa.fa-angle-double-right

                  span.changeset-value-new
                    | 37202.0

                p.changeset
                  span.changeset-attribute
                    | Description
                  span.changeset-value-old
                    | Interserve - HSBC - Branch Closure - HSBC - HSBC Alperton
                  i.fa.fa-angle-double-right

                  span.changeset-value-new
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias reiciendis ipsum, molestiae minima facere commodi itaque a vel voluptas nesciunt, officiis vitae sunt, fuga dolor et quis saepe, perferendis laborum.

          .activity.journal
            .activity-type
              i.fa.fa-comment

            .activity-body
              .activity-meta   
                p.activity-meta-author Vlad Radulescu added a comment
                  span.activity-meta-date 5 days ago

              .activity-content
                p 
                  | Thanks – I will send you a quote
                  br
                  br
                  | Anthony Lingard-Lane

          .activity.journal
            .activity-type
              i.fa.fa-comment

            .activity-body
              .activity-meta   
                p.activity-meta-author Vlad Radulescu added a comment
                  span.activity-meta-date 5 days ago

              .activity-content
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

          .activity.trail
            .activity-type
              i.fa.fa-edit

            .activity-body
              .activity-meta          
                p.activity-meta-author Vlad Radulescu made 5 changes
                  span.activity-meta-date less than 3 minutes ago

              .activity-content
                p.changeset
                  span.changeset-attribute
                    | PO Value
                  span.changeset-value-old
                    | 4200.0
                  i.fa.fa-angle-double-right

                  span.changeset-value-new
                    | 3123.0

                p.changeset
                  span.changeset-attribute
                    | Invoice Number
                  span.changeset-value-old
                    | 3720.0
                  i.fa.fa-angle-double-right

                  span.changeset-value-new
                    | 37202.0

                p.changeset
                  span.changeset-attribute
                    | Description
                  span.changeset-value-old
                    | Interserve - HSBC - Branch Closure - HSBC - HSBC Alperton
                  i.fa.fa-angle-double-right

                  span.changeset-value-new
                    | Not gonna west your time!

          .activity.journal
            .activity-type
              i.fa.fa-comment

            .activity-body
              .activity-meta   
                p.activity-meta-author Vlad Radulescu added a comment
                  span.activity-meta-date 5 days ago

              .activity-content
                p
                  | Good Morning Anthony,
                  br
                  br
                  | Regarding the quote for the below email, I’m unsure whether we’ve received this or not. So I just wanted to email to make sure I haven’t missed it.
                  br
                  br
                  | Thank you & Kind Regards
                  br
                  br
                  | Katyia Johnson

          .activity.trail
            .activity-type
              i.fa.fa-edit

            .activity-body
              .activity-meta          
                p.activity-meta-author Vlad Radulescu made 5 changes
                  span.activity-meta-date less than 3 minutes ago

              .activity-content
                p.changeset
                  span.changeset-attribute
                    | PO Value
                  span.changeset-value-old
                    | 4200.0
                  i.fa.fa-angle-double-right

                  span.changeset-value-new
                    | 3123.0

                p.changeset
                  span.changeset-attribute
                    | Invoice Number
                  span.changeset-value-old
                    | 3720.0
                  i.fa.fa-angle-double-right

                  span.changeset-value-new
                    | 37202.0

                p.changeset
                  span.changeset-attribute
                    | Description
                  span.changeset-value-old
                    | Interserve - HSBC - Branch Closure - HSBC - HSBC Alperton
                  i.fa.fa-angle-double-right

                  span.changeset-value-new
                    | Not gonna west your time!

          .activity.event
            .activity-type
              i.fa.fa-flag-checkered

            .activity-body
              .activity-meta          
                p.activity-meta-author Project created by Vlad Radulescu
                  span.activity-meta-date less than 3 minutes ago